<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
</head>
<body>
    <style>

    </style>
    <h2>Вход в систему</h2>
    <form action="/login" method="post">
        <label for="username">Имя пользователя:</label><br>
        <input class="login" type="text" id="username" name="username" required><br>
        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Войти">
    </form>
</body>
</html>
